<link rel="stylesheet" href="/public/css/footer.css">
<div class="bg-dark pt-3 pb-4" id="footer">
    <div class="container text-center">
        <ul class="text-white">
        <li class="list-inline-item"><a href="/">Home</a></li>|  
        <li class="list-inline-item"><a href="/about">About SIRF</a></li>|  
        <li class="list-inline-item"><a href="/parameter">Parameters</a></li>|  
        <li class="list-inline-item"><a href="#">Documents</a></li>|  
        <li class="list-inline-item"><a href="/ranking">Ranking</a></li>|  
        <li class="list-inline-item"><a href="#">Notification/Advt</a></li>|  
        <li class="list-inline-item"><a href="/contact">Contact</a></li>
        </ul>

        <p class="text-white">Copyright @2021 | KNIT</p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>