<%- include("./_header.ejs") -%>

<div class="container mt-5">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    College Login
                </div>
                <div class="card-body">
                     <form>
                        <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                        </div>
                        <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="checkbox">
                        <label class="form-check-label" for="checkbox">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="register"><button class="btn btn-info">Register</button></a>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
<%- include("./_footer.ejs") -%>