<body>
    <h3>Your UPIRF Account created successfully</h3>
    <h4>save Your credentials for future refrence</h4>
    <p>Email:</p><span>
        <%- email -%>
    </span>
    <p>Password:</p><span>
        <%= pass %>
    </span>
</body>