<body>
    <h1>Email Verification</h1>
    <div>
        <p>Email:<span>
                <%-email%>
            </span></p>
        <p>click here:<span><a href="<%-verificationLink%>"></a></span></p>
        <p>or paste link at below in browser</p>
        <span>
            <%-verificationLink%>
        </span>
    </div>
</body>