#primarymenu{
    background: #0A6CB5;
    padding: 0% 10%;
}

#primarymenu li a{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#secondarymenu{
    background: #f1f1f1;
    padding: 0% 10%;
}

#secondarymenu li a{
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#primarymenu .fa-bars{
    color: white;
}
