<style>
    #footer {
        text-align: center;
        padding: 15px 0;
        background: #272f35;
        margin-top: 0px;
        min-height: 120px;
        padding-top: 15px;
        z-index: 1;
    }
</style>

<div id="footer">
    <ul class="portalLinks">
        <li><a href="/Home">Home</a></li>
        <li><a href="/About">About NIRF</a></li>
        <li><a href="/parameter">Parameters</a></li>
        <li><a href="/Documents">Documents</a></li>
        <li><a href="/2020/Ranking2020.html">Ranking</a></li>
        <li><a href="/Advertisement">Notification/Advt</a></li>
        <!--<li><a href="http://nirfweb.cloudapp.net/Grievance/FLogin">Feedback</a></li>-->
        <li><a href="/Contact">Contact</a></li>

    </ul>
    <p class="copyright">Copyright &copy; 2021, National Institutional Ranking Framework (NIRF), MoE. All rights
        reserved.</p>
    <a href="https://www.nirfindia.org" title="NIRF Hit Counter" target="_blank"
        style="font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 8px; color: #686A6F; text-decoration: none;"><strong>
        </strong>
    </a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>