
<style>

    .container-sm{
        background: #fff;
        margin-top: 4%;
        border-radius: 6px;
        padding: 2%;
    }
    .box p{
        text-align: justify;
        color: #484848;
        font-size: .9rem;
        font-family: 'OpenSansRegular',Arial,Helvetica,sans-serif
    }
    </style>
    <%- include("./_header.ejs") -%>
    
        <img src="/public/home/image/about-inner-banner.jpg" style="width: 100%;
      height: auto;">
     
        <div class="container-sm">
            <h2>Overview</h2>
            <br>
            <p>
                The State Institutional Ranking Framework (SIRF) is a methodology adopted by the Ministry of Technical Education, Uttar Pradesh Government, to assess the Rank of various higher education Institution’s on the basis of different parameters in Uttar Pradesh.             </p>
            <p>
                <p>Key objectives of the States’ Ranking Framework are listed below:</p>
                ●	To galvanize Institutions towards a competitive environment that exists in the world today.<br>
                ●	Clear definition and identification of key parameters which can help Institutions to work sincerely towards improving their ranking.
               <br> ●	These parameters are strong pointers of quality of scholarship of the faculty & students and the student-caring culture of the Institutions. There is also a strong message in the chosen parameters, which is particularly relevant to the education scenario in the state.
                <br>●	State Institutions will use this ranking framework to introspect and make sincere efforts to improve their standing, which will be beneficial for the country as Ranking and Accreditation are two important tools for a movement towards quality.
               <br> ●	The Ranking framework will empower a larger number of state Institutions to participate in the NIRF and global rankings, and create a significant impact nationally and internationally too.
                <br>●	Include identifying good practices, augmenting mutual learning, building capacity of key stakeholders across the Indian academic landscape and propelling States to advance ecosystems within their jurisdictions.
                            </p>
           <br />
           <a href="/ranking"> <button type="button" class="btn btn-primary">Click to Know our Ranking Methods</button></div></a>
          </div>
          
    <%- include("./_footer.ejs") -%>