
<style>

    .container-sm{
        background: #fff;
        margin-top: 4%;
        border-radius: 6px;
        padding: 2%;
    }
    .box p{
        text-align: justify;
        color: #484848;
        font-size: .9rem;
        font-family: 'OpenSansRegular',Arial,Helvetica,sans-serif
    }
    </style>
    <%- include("./_header.ejs") -%>
    
        <img src="/public/home/image/about-inner-banner.jpg" style="width: 100%;
      height: auto;">
     
        <div class="container-sm">
            <h2>Overview</h2>
            <br>
            <p>
                The National Institutional Ranking Framework (NIRF) was approved by the MHRD and launched by Honourable Minister of Human Resource Development on 29th September 2015.
            </p>
            <p>
                This framework outlines a methodology to rank institutions across the country. The methodology draws from the overall recommendations broad understanding arrived at by a Core Committee set up by MHRD, to identify the broad parameters for ranking various universities and institutions. The parameters broadly cover “Teaching, Learning and Resources,” “Research and Professional Practices,” “Graduation Outcomes,” “Outreach and Inclusivity,” and “Perception”.
            </p>
            <p>
                India Rankings – 2016 based on this framework were released on 4th April 2016.
            </p>
            <p>
                For India Rankings – 2017, the main ranking parameters remain the same. However, there are a few significant changes in a few sub-parameters. Also, this year every large institution will be given a common overall rank as well as a discipline specific rank as applicable. Details are in the Ranking Document available at 
                <br />
                <br />
            </p>
            <button type="button" class="btn btn-primary">Click to Know our Ranking Methods</button>
          </div>
          
    <%- include("./_footer.ejs") -%>