<style>
    .maincol {
        display: flex;
        justify-content: space-evenly;
        background: aliceblue;
        margin: 65px;
        box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%);
    }

    .address,
    .gmaps {
        margin: 20px;
    }
</style>
<%- include("./_header.ejs") -%>

    <img src="/public/home/image/about-inner-banner.jpg" style="width: 100%;
      height: auto;">

    <!-- Start mainContent -->
    <div id="mainContent">
        <div class="maincol">
            <address class="address">
                <strong class="padB10">Kamla Nehru Institute of Technology, Sultanpur (U.P.)</strong>
                <br>
                <br>
                Sultanpur - Kadipur Rd,
                <br>
                Sultanpur,
                <br>
                Uttar Pradesh 228118
               <br>
                <br>
                For General Query
                <br>



                <strong class="tele sprite">Tel:</strong> 05362 240 454
                <br>
                <!--<strong class="fax sprite">Fax:</strong> +91-11-2436 0682
                                 <br> -->

             <!--   <strong class="mail sprite">E-mail:</strong> <a
                    href="mailto:membersecretary@nbaind.org">membersecretary@nbaind.org</a>
                <br>
                <strong class="mail sprite">E-mail:</strong> <a
                    href="mailto:helpdesk@nirfindia.org">helpdesk@nirfindia.org</a>
                <br>
                (Monday to Friday-9:00 am to 5:30pm)
                <br> -->
                <br>
                For Technical Query
                <br>
                
                <strong class="mail sprite">E-mail:</strong> <a
                    href="mailto:techsupport@nirfindia.org">info@knit.ac.in</a>
                <br>
                (Monday to Friday-9:30 am to 6:00pm)
                <br>
                <br>
                <br>
            </address>
            <div class="gmaps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.164912109427!2d82.08012141486914!3d26.288753383400245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399a7c86d691219f%3A0x99a3eb1e7c07f78f!2sKamla%20Nehru%20Institute%20of%20Technology%2C%20Sultanpur%20(U.P.)!5e0!3m2!1sen!2sin!4v1632282422136!5m2!1sen!2sin"
                     width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>

    </div>
    <!-- End leftContent -->


    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <%- include("./_footer.ejs") -%>