
<style>

    .container-sm{
        background: #fff;
        margin-top: 4%;
        border-radius: 6px;
        padding: 2%;
    }
    h5{
        margin: 0 1%;
    }
    
    .content{
        list-style:"> ";
        line-height: 1.5rem;
        margin:0 3%;
        text-align: justify;
        color: #484848;
        font-size: 0.95rem;
        
    }
    
    </style>
    <%- include("./_header.ejs") -%>
    
        <img src="/public/home/image/about-inner-banner.jpg" style="width: 100%;
      height: auto;">
     
        <div class="container-sm">
            <h2>Certain FAQs about the UPIRF</h2>
            <br>
                 
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <h5 style="color:#746008;">1) Accreditation VS Ranking</h5>
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <ul >
                            <li class="content"> Accreditation is a 5-year comprehensive assessment of the institution as a whole.</li>
                            <li class="content"> Ranking is a yearly affair.</li>
                            <li class="content"> Accreditation gives absolute grade, ranking is relative to the other institutions similarly placed.</li>
                        </ul> </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <h5 style="color:#746008;;">2) Since there is already accreditation, should there be ranking too? </h5>
           
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <ul >
                            <li class="content"> Accreditation is a one-time (5 year) event. Accredited Institutions can slip in their yearly performance. </li>
                            <li class="content"> Stakeholders are interested in knowing whether the institution is doing better or worse at the end of each year</li>
                            <li class="content"> Ranking is an Annual Report Card to the Nation and to the stakeholders on what has been done by the institution in the last one year, on the given performance.</li>
                            <li class="content"> Very few institutions have got the accreditation, whereas ranking is open to all!</li>
                            <li class="content"> It is due to this reason that across the Countries, there is both accreditation and ranking.</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        <h5 style="color:#746008;;">3) Can an institution which had a bad accreditation grade get a good rank and vice versa?</h5>
            
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <ul >
                            <li class="content"> It is possible. The institutions can slip or do better after they got their accreditation.  Ranking is a reflection of the yearly performance</li>
            
                        </ul>
                     </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        <h5 style="color:#746008;;">4) Is the score shown against each institution reflective of their performance? </h5>
             
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                      <div class="accordion-body">
                        <ul >
                            <li class="content"> This score is a relative score, not absolute. Therefore a statement that ‘The institution with fail marks is ranked in the top 100’, is incorrect. This is NOT an absolute score.</li>
                            <li class="content"> In each parameter, percentile score using the log-function has been derived, which gives - where the Very few institutions have got the accreditation, whereas ranking is open to all! </li>
                            <li class="content"> It is due to this reason that across the Countries, there is both accreditation and ranking.</li>
            
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        <h5 style="color:#746008;;">5) How good is the data on which ranking has been done?   </h5>
             
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                      <div class="accordion-body">
                        <ul >
                            <li class="content"> The institutions have given this data certifying that it is correct. Even then, the data has been checked with reference to the data validations that have been built in. For example, if the annual fee is Rs. 10 lakh, and the institution is claiming that 80% of the students are from economically backward sections, there is an apparent inconsistency. The NIRF checks such data with the institution and other regulator data </li>
                            <li class="content"> Most of the data pertaining to the research, which has a large weightage, is taken from third party and authentic sources like Scopus or Web of Science. This data is certainly valid and correct.  </li>
                            <li class="content"> We must understand the NIRF score as a reflection of where the institution is standing vis-a-vis other institutions in the similar category. </li>
            
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>


            
          
           
           
          
           
          </div>
          
    <%- include("./_footer.ejs") -%>

    