<%- include("./_header.ejs") -%>
<div class="container main_content text-center">
    <div class="row">
        <h1>UP Rankings 2021: Result</h1>
    </div>
    <div class="row">
        <p>India Rankings 2021 Released on 9th September 2021 by Hon'ble Minister of Education Shri Dharmendra Pradhan.</p>
    </div>
    <div class="row">
        <p>Youtube || Facebook || Twitter</p>  
    </div>
    <div class="row">
        <div class="row">
            <h2>About UPIRF</h2>
        </div>
        <div class="row">
            <p>The National Institutional Ranking Framework (NIRF) has been accepted by the MoE and launched by Honourable Minister for Education on 29th September 2015. This framework outlines a methodology to rank institutions across the country</p>
        </div>
        <div class="">
            <button type="button" class="btn btn-info">Info</button>
        </div>    
    </div>
    <hr>
    <div class="row">
        <div class="row">
            <h2>Parameters</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card mb-3">
                    <img class="card-img-top p-5" src="https://img.icons8.com/ios/100/000000/classroom.png"/>
                    <div class="card-body">
                      <h5 class="card-title">Teaching Learning & Resources</h5>
                      <p class="card-text">These parameters are related to the core activities of any place of learning...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-3">
                    <img class="card-img-top p-5" src="https://img.icons8.com/ios/100/000000/classroom.png"/>
                    <div class="card-body">
                      <h5 class="card-title">Teaching Learning & Resources</h5>
                      <p class="card-text">These parameters are related to the core activities of any place of learning...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-3">
                    <img class="card-img-top p-5" src="https://img.icons8.com/ios/100/000000/classroom.png"/>
                    <div class="card-body">
                      <h5 class="card-title">Teaching Learning & Resources</h5>
                      <p class="card-text">These parameters are related to the core activities of any place of learning...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-3">
                    <img class="card-img-top p-5" src="https://img.icons8.com/ios/100/000000/classroom.png"/>
                    <div class="card-body">
                      <h5 class="card-title">Teaching Learning & Resources</h5>
                      <p class="card-text">These parameters are related to the core activities of any place of learning...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-3">
                    <img class="card-img-top p-5" src="https://img.icons8.com/ios/100/000000/classroom.png"/>
                    <div class="card-body">
                      <h5 class="card-title">Teaching Learning & Resources</h5>
                      <p class="card-text">These parameters are related to the core activities of any place of learning...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-3">
                    <img class="card-img-top p-5" src="https://img.icons8.com/ios/100/000000/classroom.png"/>
                    <div class="card-body">
                      <h5 class="card-title">Teaching Learning & Resources</h5>
                      <p class="card-text">These parameters are related to the core activities of any place of learning...</p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>    
<%- include("./_footer.ejs") -%>