<%- include("./_header.ejs") -%>
    <div class="row">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner" style="height:400px;">
                <div class="carousel-item active">
                    <img src="https://www.w3schools.com/bootstrap/chicago.jpg" class="w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.w3schools.com/bootstrap/la.jpg" class="w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="container middleContent">
            <div class="content">

                <div class="middleAboutSection">

                    <p align="center">
                    </p>
                    <h2 style="padding-bottom:0px"> <a id="arankinhresult" href="../2021/Ranking.html">
                            <font color="blue"><strong>India Rankings 2021: Result</strong></font>
                        </a>
                    </h2>
                    <h3 style="padding-bottom:0px;font:15px 'OpenSansRegular'" !important="">
                        <font color="red"><b>India Rankings 2021 Released on 9th September 2021 by Hon'ble Minister of
                                Education Shri Dharmendra Pradhan. <br></b></font><br>
                        <a color="blue !important" target="_blank" href="https://www.youtube.com/watch?v=NtC0G3lWl2A/">
                            <font color="blue"><strong>Youtube</strong></font>
                        </a>
                        || <a color="blue !important" target="_blank"
                            href="https://www.facebook.com/events/539260243850039/">
                            <font color="blue"><strong>Facebook</strong></font>
                        </a>
                        || <a color="blue !important" target="_blank" href="https://twitter.com/EduMinOfIndia?s=01/">
                            <font color="blue"><strong>Twitter</strong></font>
                        </a>

                    </h3>

                    <p></p>
                    <div class="title">
                        <h2>About NIRF</h2>
                        <span class="childIcon sprite"></span>
                    </div>
                    <p>
                        The National Institutional Ranking Framework (NIRF) has been accepted by the MoE and launched by
                        Honourable Minister for Education on 29th September 2015.
                        This framework outlines a methodology to rank institutions across the country. <span
                            class="viewMore"><a href="/About">Read More</a></span>
                    </p>

                </div>
                <div class="middleParameterSection">
                    <div class="parameters">
                        <div class="container">
                            <div class="title">
                                <h2>Parameters</h2>
                                <span class="childIcon sprite"></span>
                            </div>
                            <ul class="parametersBlock">
                                <li class="box"><a href="javascript:void(0)" class="icon circle"
                                        title="Teaching Learning &amp; Resources"><span
                                            class="teachingLearningResources sprite"></span></a>
                                    <h3><a href="javascript:void(0)" title="Teaching Learning &amp; Resources">Teaching
                                            Learning
                                            <br>
                                            &amp; Resources</a></h3>
                                    <p>These parameters are related to the core activities of any place of learning...
                                    </p>
                                </li>
                                <li class="box"><a href="javascript:void(0)" class="icon circle"
                                        title="Research Professional Practice"><span
                                            class="researchProfessionalPractice sprite"></span></a>
                                    <h3><a href="javascript:void(0)" title="Research Professional Practice">Research and
                                            Professional
                                            <br>
                                            Practice</a></h3>
                                    <p>Excellence in teaching and learning is closely associated with the scholarship...
                                    </p>
                                </li>
                                <li class="box"><a href="javascript:void(0)" class="icon circle"
                                        title="Graduation Outcome"><span class="graduationOutcome sprite"></span></a>
                                    <h3><a href="javascript:void(0)" title="Graduation Outcome">Graduation<br>
                                            Outcome</a></h3>
                                    <p>This parameter forms the ultimate test of the effectiveness of the core
                                        teaching/learning...</p>
                                </li>
                                <li class="box"><a href="javascript:void(0)" class="icon circle" title="Outreach"><span
                                            class="outreach sprite"></span></a>
                                    <h3><a href="javascript:void(0)" title="Outreach">Outreach &amp; Inclusivity</a>
                                    </h3>
                                    <p>The Ranking framework lays special emphasis on representation of women...</p>
                                </li>
                                <li class="box last"><a href="javascript:void(0)" class="icon circle"
                                        title="Perception"><span class="perception sprite"></span></a>
                                    <h3><a href="javascript:void(0)" title="Perception">Perception</a></h3>
                                    <p>The ranking methodology gives a significant importance to the perception of the
                                        institution...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./_footer.ejs") -%>