<style>
    .whiteBox {
        box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%);
        background-color: aliceblue;
        margin: 40px;
    }

    #mainContent {}
</style>
<%- include("./_header.ejs") -%>
    <div id="mainContent">
        <!-- Start Content -->
        <div class="containerr">
            <!-- Start leftContent -->
            <div class="leftContent" style="padding-right: 0px;">
                <div class="whiteBox">
                    <h2>Parameters</h2>
                    <div class="parameters">
                        <div class="parametersRow">
                            <div class="parameterIcon"><i><span class="teachingLearningResources sprite"></span></i>
                            </div>
                            <div class="parameterData" id="TeachLearn">
                                <h3>Teaching, Learning &amp; Resources (TLR)</h3>

                                <ul class="bulletText">
                                    <li><a href="/Docs/1A.pdf" target="_blank">Student Strength including Doctoral
                                            Students (SS)</a></li>
                                    <li><a href="/Docs/1B.pdf" target="_blank">Faculty-student ratio with emphasis on
                                            permanent faculty (FSR)</a></li>
                                    <li><a href="/Docs/1C.pdf" target="_blank">Combined metric for Faculty with PhD (or
                                            equivalent) and
                                            Experience (FQE)</a></li>
                                    <li><a href="/Docs/1D.pdf" target="_blank">Financial Resources and their Utilisation
                                            (FRU)</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="parametersRow">
                            <div class="parameterIcon"><i><span class="researchProfessionalPractice sprite"></span></i>
                            </div>
                            <div class="parameterData" id="RPP">
                                <h3>Research and Professional Practice (RP)</h3>
                                <ul class="bulletText">
                                    <li><a href="/Docs/2A.pdf" target="_blank">Combined metric for Publications (PU)</a>
                                    </li>
                                    <li><a href="/Docs/2B.pdf" target="_blank">Combined metric for Quality of
                                            Publications (QP)</a></li>
                                    <li><a href="/Docs/2C.pdf" target="_blank">IPR and Patents: Published and Granted
                                            (IPR)</a></li>
                                    <li><a href="/Docs/2D.pdf" target="_blank">Footprint of Projects and Professional
                                            Practice (FPPP)</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="parametersRow">
                            <div class="parameterIcon"><i><span class="graduationOutcome sprite"></span></i></div>
                            <div class="parameterData" id="Outcome">
                                <h3>Graduation Outcomes (GO)</h3>
                                <ul class="bulletText">
                                    <li><a href="/Docs/3A.pdf" target="_blank">Metric for University Examinations
                                            (GUE)</a></li>
                                    <li><a href="/Docs/3B.pdf" target="_blank">Metric for Number of Ph.D. Students
                                            Graduated (GPHD)</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="parametersRow">
                            <div class="parameterIcon"><i><span class="outreach sprite"></span></i></div>
                            <div class="parameterData" id="outreach">
                                <h3>Outreach and Inclusivity (OI)</h3>
                                <ul class="bulletText">
                                    <li><a href="/Docs/4A.pdf" target="_blank">Percentage of Students from Other
                                            States/Countries (Region Diversity RD)</a></li>
                                    <li><a href="/Docs/4B.pdf" target="_blank">Percentage of Women (Women Diversity
                                            WD)</a></li>
                                    <li><a href="/Docs/4C.pdf" target="_blank">Economically and Socially Challenged
                                            Students (ESCS)</a></li>
                                    <li><a href="/Docs/4D.pdf" target="_blank">Facilities for Physically Challenged
                                            Students (PCS)</a></li>
                                    <li><a href="#" target="_blank">Perception (PR) Ranking</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="parametersRow">
                            <div class="parameterIcon"><i><span class="perception sprite"></span></i></div>
                            <div class="parameterData" id="perception">
                                <h3>Peer Perception</h3>
                                <ul class="bulletText">
                                    <li><a href="/Docs/5A.pdf" target="_blank">Academic Peers and Employers (PR)</a>
                                    </li>
                                </ul>
                            </div>
                            <div align="left">
                                <h3><b>
                                        <font color="maroon">Note: The Parameters given in this page are for Overall
                                            only, for respective discipline please <a href="/Documents">click here</a>.
                                        </font>
                                    </b></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End leftContent -->
            <!-- Start sidebar -->

            <!-- End sidebar -->
        </div>
        <!-- End Content -->
    </div>
    <!-- End mainContent -->
    <%- include("./_footer.ejs") -%>