<style>
    .cont {
        margin: 50px 110px;
        background-color: white;
        box-shadow: 0 2px 1px rgb(0 0 0 / 10%);
    }

    .parameters h2 {
        margin-left: 20px;
        position: relative;
        left: 25px;
        top: 16px;
    }

    .parameter {
        display: flex;
        margin-top: 30px;
        padding-left: 28px;
    }

    .parameter a {
        text-decoration: none;
        color: black
    }

    .def ul li {
        margin-top: 5px
    }

    .def h4 {
        color: rgb(100, 60, 60)
    }

    .parameter a:hover {
        text-decoration: underline;
        color: black
    }

    .left {
        justify-content: space-between;
    }

    .head {
        font-size: 20px;
        color: brown;
    }
</style>
<%- include("./_header.ejs") -%>
    <div class="cont">
        <div class="parameters">
            <h2>Parameters</h2>
            <div class="parameter">
                <div class="ico-para "><img src="/public/home/image/1.JPG" alt=""></div>
                <div class="def">
                    <h4>Teaching, Learning & Resources (TLR)</h4>
                    <ul>
                        <li><a href="#">Student Strength including Doctoral Students (SS)</a></li>
                        <li><a href="#">Faculty-student ratio with emphasis on permanent faculty (FSR)</a></li>
                        <li><a href="#">Combined metric for Faculty with PhD (or equivalent) and Experience (FQE)</a>
                        </li>
                        <li><a href="#">Financial Resources and their Utilisation (FRU)</a></li>
                    </ul>
                </div>

            </div>

            <div class="parameter left">
                <div class="def">
                    <h4>Research and Professional Practice (RP)</h4>
                    <ul>
                        <li><a href="#">Combined metric for Publications (PU)</a></li>
                        <li><a href="#">Combined metric for Quality of Publications (QP)</a></li>
                        <li><a href="#">IPR and Patents: Published and Granted (IPR)</a>
                        </li>
                        <li><a href="#">Footprint of Projects and Professional Practice (FPPP)</a></li>
                    </ul>
                </div>
                <div class="ico-para left"><img src="/public/home/image/2.JPG" alt=""></div>

            </div>



            <div class="parameter">
                <div class="ico-para "><img src="/public/home/image/3.JPG" alt=""></div>
                <div class="def">
                    <h4>Graduation Outcomes (GO)</h4>
                    <ul>
                        <li><a href="#">Metric for University Examinations (GUE)</a></li>
                        <li><a href="#">Metric for Number of Ph.D. Students Graduated (GPHD)</a></li>

                    </ul>
                </div>

            </div>

            <div class="parameter left">
                <div class="def">
                    <h4>Outreach and Inclusivity (OI)</h4>
                    <ul>
                        <li><a href="#">Percentage of Students from Other States/Countries (Region Diversity RD)</a>
                        </li>
                        <li><a href="#">Percentage of Women (Women Diversity WD)</a></li>
                        <li><a href="#">Economically and Socially Challenged Students (ESCS)</a>
                        </li>
                        <li><a href="#">Facilities for Physically Challenged Students (PCS)</a></li>
                        <li><a href="#">Perception (PR) Ranking</a></li>
                    </ul>
                </div>
                <div class="ico-para "><img src="/public/home/image/6.JPG" alt=""></div>

            </div>



            <div class="parameter">
                <div class="ico-para "><img src="/public/home/image/5.JPG" alt=""></div>
                <div class="def">
                    <h4>Peer Perception</h4>
                    <ul>
                        <li><a href="#">Academic Peers and Employers (PR)</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <p class="head">Note: The Parameters given in this page are for Overall only, for respective discipline please
            click here.
        </p>
    </div>

    <%- include("./_footer.ejs") -%>