
<%- include("./_header.ejs") -%>
<style>
  .container-sm{
  background: rgb(252, 250, 250);
  margin-top: 4%;
  border-radius: 6px;
  padding: 2%;
}
.btn:hover{
  background-color:blue;
  padding-left:1 10%;
  transition: 500ms;
  
}
.list{
display: flex;flex-wrap: wrap;display: inline-flex;
  flex-wrap: wrap;
  gap: 6rem; margin-left: 5%;
}
@media only screen and (max-width: 600px) {
.list {
gap: 3rem;
}
}
      

</style>

<div class="container-sm">
  <br>
  <img src="/public/home/image/ranking_text.png" class="img-fluid" alt="..."style="width: 80%;
  height: auto;margin-left: 8%;">
  <br><br><br><br>
  <div class="list">
      <div class="card" style="width: 8rem; border-radius: 50%; border: white;">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">Overall</a>
        </div>
    
      <div class="card" style="width: 8rem; border-radius: 50%; border: white; ">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">University</a>
        </div>
    
      <div class="card" style="width: 8rem; border-radius: 50%; border: white; ">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">Engineering</a>
        </div>
    
      <div class="card" style="width: 8rem; border-radius: 50%; border: white; ">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">Management</a>
        </div>
    
      <div class="card" style="width: 8rem; border-radius: 50%; border: white; ">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">Pharmacy</a>
        </div>
    
      <div class="card" style="width: 8rem; border-radius: 50%; border: white; ">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">College</a>
        </div>
    
      <div class="card" style="width: 8rem; border-radius: 50%; border: white; ">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">Medical</a>
        </div>
    
      <div class="card" style="width: 8rem; border-radius: 50%; border: white; ">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">Law</a>
        </div>
      <div class="card" style="width: 8rem; border-radius: 50%; border: white; ">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">Dental</a>
        </div>
      <div class="card" style="width: 8rem; border-radius: 50%; border: white; ">
          <img src="/public/home/image/Uni_WL.png" class="card-img-top" alt="...">
          <br>
          <a href="#" class="btn btn-primary" style="position: relative;">Research</a>
        </div>
      
    
  </div>
  <br>
  <br><br>

     <%- include("./_footer.ejs") -%>