<%- include("./_header.ejs") -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.jqueryscript.net/demo/auto-scrolling-data-list/js/jquery.autoscroll.js"></script>

    <style>
        .side-cards {
            height: 200px;
            margin-bottom: 41px;
        }

        .card-header {
            background-color: #0a6cb5;
            color: white;
            font-weight: bold;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 5px;
            margin-top: 20px;
        }

        .hide-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .data-list {
            height: 200px;
            width: 390px;
            overflow-y: hidden;
        }
    </style>
    <div class="container mt-5">


        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <strong>Latest@UPIRF</strong>
                    </div>
                    <div class="card-body">
                        <ul class="data-list" s data-autoscroll>
                            <p> The pre-registration/registration process has started from 25</p>
                            <li> Last date for registration is 30</li>
                            <p> The pre-registration/registration process has started from 25</p>
                            <li> Last date for registration is 30</li>
                            <p> The pre-registration/registration process has started from 25</p>
                            <li> Last date for registration is 30</li>
                            <p> The pre-registration/registration process has started from 25</p>
                            <li> Last date for registration is 30</li>
                            <p> The pre-registration/registration process has started from 25</p>
                            <li> Last date for registration is 30</li>
                            <p> The pre-registration/registration process has started from 25</p>
                            <li> Last date for registration is 30</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        College Login
                    </div>
                    <div class="card-body">
                        <form action="/College/login" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" name="userEmail" id="email"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                            <button type="submit" class="btn"
                                style="background-color: #0A6CB5; color: #ffffff;">Login</button>
                        </form>
                        <br>
                        <h6>New User? <a href="register" style="text-decoration: none;">Register</a></h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="side-cards">
                    <div class="card">
                        <div class="card-header">
                            For Technical Query (Mon to Fri-9:30 am to 6:00pm)
                        </div>
                        <div class="card-body">
                            <p> <b>Phone</b>: 079-2326-8247</p>
                            <p> <b>Phone</b>Phone: 079-2326-8247</p>
                            <p> <b>Email</b>:techsupport@upirfindia.org</p>
                        </div>
                    </div>
                </div>
                <div class="side-cards">
                    <div class="card">
                        <div class="card-header">
                            For Technical Query (Mon to Fri-9:30 am to 6:00pm)
                        </div>
                        <div class="card-body">
                            <p> <b>Phone</b>: 079-2326-8247</p>
                            <p> <b>Phone</b>: 079-2326-8247</p>
                            <p> <b>Email</b>:techsupport@upirfindia.org</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <%- include("./_footer.ejs") -%>