<link rel="stylesheet" href="/public/css/document.css">
<%- include("./_header.ejs") -%> 
<img src="/public/home/image/about-inner-banner.jpg" style="width: 100%;
      height: auto;">
<div class="container mt-4 mb-5 text-center">
    <div class="row">
        <h3>Documents</h3>
    </div>
    <hr>
    <div class="row">
        <h5>Discipline-wise methodology for India Rankings 2021</h5>
    </div>
    <div class="container mb-5 mt-3">
        <ul style="display: inline-block;" id="documents">
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Overall&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Engineering&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Management&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Pharmacy&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Colleges&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Architecture&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Law&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Medical&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Dental&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.nirfindia.org/nirfpdfcdn/2021/framework/Architecture.pdf" title="Discipline-wise methodology for India Rankings 2021: Architecture" target="_blank">Research&nbsp;&nbsp;&nbsp;&nbsp; <span class="pdfIcon">
                    <img src="https://www.nirfindia.org/images/bgi/pdf-icon.png" alt="PDF file that opens in new window." title="PDF file that opens in new window."></span>&nbsp;</a>
            </li>
        </ul>
    </div>
</div>    
<%- include("./_footer.ejs") -%>