<style>
    .cont {
        margin: 50px 110px;
        background-color: white;
        box-shadow: 0 2px 1px rgb(0 0 0 / 10%);
    }

    .parameters h2 {
        margin-left: 20px;
        position: relative;
        left: 25px;
        top: 16px;
    }

    .parameter {
        display: flex;
        margin-top: 30px;
        padding-left: 28px;
    }

    .parameter a {
        text-decoration: none;
        color: black
    }

    .def ul li {
        margin-top: 5px
    }

    .def h4 {
        color: rgb(100, 60, 60)
    }

    .parameter a:hover {
        text-decoration: underline;
        color: black
    }

    .left {
        justify-content: space-between;
    }

    .head {
        font-size: 20px;
        color: brown;
    }
</style>
<%- include("./_header.ejs") -%>
    <div class="cont">
        <div class="parameters">
            <h2>Parameters</h2>
            <div class="parameter">
                <div class="ico-para "><img src="/public/home/image/1.JPG" alt=""></div>
                <div class="def">
                    <h4>Teaching, Learning & Resources</h4>
                    <ul>
                        <li><a href="/public/Docs/parameter/A1.pdf"  target="_blank">Student Strength including Doctoral Students (SS)</a></li>
                        <li><a href="/public/Docs/parameter/A2.pdf"  target="_blank">Faculty-student ratio (FSR)</a></li>
                        <li><a href="/public/Docs/parameter/A3.pdf"  target="_blank">Combined metric for Faculty with PhD and Experience (FQE)</a></li>
                        <li><a href="/public/Docs/parameter/A4.pdf"  target="_blank">Financial Resources and their Utilisation (FRU)</a></li>
                    </ul>
                </div>

            </div>

            <div class="parameter left">
                <div class="def">
                    <h4>Research and Professional Practice</h4>
                    <ul>
                        <li><a href="/public/Docs/parameter/B1.pdf" target="_blank">Combined metric for Publications (PU)</a></li>
                        <li><a href="/public/Docs/parameter/B2.pdf" target="_blank">Combined metric for Quality of Publications (QP)</a></li>
                        <li><a href="/public/Docs/parameter/B3.pdf" target="_blank">IPR and Patents: Published and Granted (IPR)</a>
                        </li>
                        <li><a href="/public/Docs/parameter/B4.pdf" target="_blank">Footprint of Projects and Professional Practice (FPPP)</a></li>
                    </ul>
                </div>
                <div class="ico-para left"><img src="/public/home/image/2.JPG" alt=""></div>

            </div>



            <div class="parameter">
                <div class="ico-para "><img src="/public/home/image/3.JPG" alt=""></div>
                <div class="def">
                    <h4>Graduation Outcomes</h4>
                    <ul>
                        <li><a href="/public/Docs/parameter/C1.pdf" target="_blank">Combined Metric for Placement and Higher Studies (GPH)</a></li>
                        <li><a href="/public/Docs/parameter/C2.pdf" target="_blank">Metric for University Examinations (GUE)</a></li>
                        <li><a href="/public/Docs/parameter/C3.pdf" target="_blank">Median Salary (GMS)</a></li>
                        <li><a href="/public/Docs/parameter/C4.pdf" target="_blank">Metric for Number of Ph.D. Students Graduated (GPHD)</a></li>

                    </ul>
                </div>

            </div>

            <div class="parameter left">
                <div class="def">
                    <h4>Outreach and Inclusivity</h4>
                    <ul>
                        <li><a href="/public/Docs/parameter/D1.pdf" target="_blank">Percentage of Students from Other States/Countries [Region Diversity (RD)]</a>
                        </li>
                        <li><a href="/public/Docs/parameter/D2.pdf" target="_blank">Percentage of Women [Women Diversity (WD)]</a></li>
                        <li><a href="/public/Docs/parameter/D3.pdf" target="_blank">Economically and Socially Challenged Students (ESCS)</a>
                        </li>
                        <li><a href="/public/Docs/parameter/D4.pdf" target="_blank">Facilities for Physically Challenged Students (PCS)</a></li>
<!--                        <li><a href="#">Perception (PR) Ranking</a></li>
-->                    </ul>
                </div>
                <div class="ico-para "><img src="/public/home/image/6.JPG" alt=""></div>

            </div>



            <div class="parameter">
                <div class="ico-para "><img src="/public/home/image/5.JPG" alt=""></div>
                <div class="def">
                    <h4>Perception</h4>
                    <ul>
                        <li><a href="/public/Docs/parameter/E1.pdf" target="_blank">Peer Perception: Academic Peers and Employers (PR)</a></li>
                        <li><a href="#"></a>Accreditation</li>
                    </ul>
                </div>
            </div>

        </div>
        <p class="head">Note: The Parameters given in this page are for Overall only, for respective discipline please
            click here.
        </p>
    </div>

    <%- include("./_footer.ejs") -%>